@import url('https://fonts.googleapis.com/css?family=Oxygen');

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #5C545B;
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
  padding: 10px;
}

h1{
  background-color: #ad98ab;
  padding: 10px;
}

.links {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.links a{
  color: #dfd9e0;
  background: #ad98ab;
  border: 2px dashed #ffffff;
  padding: 5px;
}

iframe{
  padding: 2px;
}
